.align-center {
  align-items: center;
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} 
.ml-20px{
  margin-left: 20px;
}
.pl-20px{
  padding-left: 20px;
}
.mt-20px{
  margin-top: 20px;
}
.pt-20px{
  padding-top: 20px;
}
.mr-20px{
  margin-right: 20px;
}
.pr-20px{
  padding-right: 20px;
}
.mb-20px{
  margin-bottom: 20px;
}
.pb-20px{
  padding-bottom: 20px;
}
.mx-20px{
  margin-left: 20px;
  margin-right: 20px;
}
.px-20px{
  padding-left: 20px;
  padding-right: 20px;
}
.my-20px{
  margin-top: 20px;
  margin-bottom: 20px;
}
.py-20px{
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-20px{
  margin: 20px;
}
.p-20px{
  padding: 20px;
}

.ml-50px{
  margin-left: 50px;
}
.pl-50px{
  padding-left: 50px;
}
.mt-50px{
  margin-top: 50px;
}
.pt-50px{
  padding-top: 50px;
}
.mr-50px{
  margin-right: 50px;
}
.pr-50px{
  padding-right: 50px;
}
.mb-50px{
  margin-bottom: 50px;
}
.pb-50px{
  padding-bottom: 50px;
}
.mx-50px{
  margin-left: 50px;
  margin-right: 50px;
}
.px-50px{
  padding-left: 50px;
  padding-right: 50px;
}
.my-50px{
  margin-top: 50px;
  margin-bottom: 50px;
}
.py-50px{
  padding-top: 50px;
  padding-bottom: 50px;
}
.m-50px{
  margin: 50px;
}
.p-50px{
  padding: 50px;
}

.ml-100px{
  margin-left: 100px;
}
.pl-100px{
  padding-left: 100px;
}
.mt-100px{
  margin-top: 100px;
}
.pt-100px{
  padding-top: 100px;
}
.mr-100px{
  margin-right: 100px;
}
.pr-100px{
  padding-right: 100px;
}
.mb-100px{
  margin-bottom: 100px;
}
.pb-100px{
  padding-bottom: 100px;
}
.mx-100px{
  margin-left: 100px;
  margin-right: 100px;
}
.px-100px{
  padding-left: 100px;
  padding-right: 100px;
}
.my-100px{
  margin-top: 100px;
  margin-bottom: 100px;
}
.py-100px{
  padding-top: 100px;
  padding-bottom: 100px;
}
.m-100px{
  margin: 100px;
}
.p-100px{
  padding: 100px;
}

